
.container {
	height: 200px;
	position: relative;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-ms-perspective: 800px;
	-o-perspective: 800px;
	perspective: 800px;
}

.card {
	display: inline-block;
	height: 200px;
	width: 140px;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

@media (max-width: 768px) {
	.card {
		height: 150px;
		width: 105px;
	}
}
@media (max-width: 500px) {
	.card {
		height: 100px;
		width: 70px;
	}
}

.card.flipped {
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-ms-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}

.card img {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.card .back {
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-ms-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}

.peeked {
	transform: rotateY( 180deg );
	background-image: none;
}
.shown {
	transform: rotateY( 180deg );
}
.cards {
	margin: 0 0 2em 0;
	padding: 0;
	width: auto;
	display: inline;
}

.cards li {
	display: inline;
	cursor: pointer;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

button {
	font-family: Arial;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	border: none;
	padding: 5px 10px 5px 10px;
	margin: 0 0 30px 0;
	border-radius: 4px;
	cursor: pointer;
	cursor: hand;
}
button:hover {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}